# Ignore everything by default to prevent leaks
*

# Allow specific directories
!template/
!template/*.pdf

# Build System and Config Templates
!Makefile

# Documentation
!README.md

# Source Files
!*.typ
!.gitignore